.nnb {
background-color: rgb(222, 222, 102);
}

.n1 {
    color: #fff;
    padding: 40px;
    background-image: url(images.jpg);
 background-size: 60%;
}

.n2 { color: #fff;
    font-size: 20px;
padding: 10px;
background-image: url(img/download.jpg);


}
.n3 {color: #fff;
    padding: 10px;
    background-image: url(download.jpg);
    background-size: 60%;
}
.n4 {color: #fff;
    padding: 10px;
    background-image: url(download.jpg);
    background-size: 60%;
}
.n5 {color: #fff;
    padding: 10px;
    background-image: url(download.jpg);
    background-size: 60%;
}
.bbnn {
    font-size: 80px;
    color: orangered;
}